body {
            align-content: center;
            align-items: center;
            background: #3d3d3d;
            display: flex;
            margin: 0;
        }
        canvas {
            border: solid 0px #fff;
            border-left: none;
            border-right: none;
            image-rendering: pixelated;
            height: 100%;
            /* width: 70%; */
            margin: 0 auto;
        }
        div {
            background-color: #fff;
        }body {
            align-content: center;
            align-items: center;
            background: #535353;
            display: flex;
            margin: 0;
        }
        canvas {
            border: solid 0px #fff;
            border-left: none;
            border-right: none;
            image-rendering: pixelated;
            height: 100%;
            /* width: 70%; */
            margin: 0 auto;
        }
        div {
            background-color: #fff;
        }